<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <h4 class="simple-text logo-normal">Categories</h4>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">

      <li class="nav-item" (click)="showTaskByCategory(null)"
          [class.active]="selectedCategory === null">
        <a class="nav-link">
          <span class="header-title">All</span>
        </a>
      </li>

      <li class="nav-item">
          <hr class="ml-3 mr-3">
      </li>

      <li *ngFor="let category of categories; let index = index" class="nav-item"
          [class.active]="category === selectedCategory"
          (click)="showTaskByCategory(category)"
          (mouseenter)="showEditIcon(index)"
          (mouseleave)="showEditIcon(null)">
        <a class="nav-link d-flex justify-content-between">
          <span class="d-inline-block">{{category.title}}</span>
          <mat-icon *ngIf="indexMouseMove === index"
                    (click)="$event.stopPropagation(); openEditDialog(category)"
                    style="font-size: 20px; height: auto!important;">
            edit
          </mat-icon>
        </a>
      </li>

    </ul>
  </div>
</div>

